:root {
  --cinza: #b4b8bf;
  --azul-forte: #0554f2;
  --azul-claro: #056cf2;
  --grafite: #313640;
  --branco: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--branco);
  font-family: "Arial", Times, serif;
  color: var(--grafite);
}

body .container-geral {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

/* BARRA DE NAVEGAÇÃO RESPONSIVA */
.topnav {
  overflow: hidden;
  background-color: var(--grafite);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topnav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.topnav h2 {
  color: var(--branco);
  font-family: "Arial Black", Times;
  font-size: 30px;
  margin: 5px;
}

.topnav a {
  border-radius: 5px;
  display: block;
  color: var(--branco);
  opacity: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.topnav a:hover {
  color: var(--grafite);
  background: var(--cinza);
  opacity: 0.8;
}

.topnav .icon {
  display: none;
}

/* FILME PRINCIPAL */

.filme-principal {
  font-size: 16px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa-vingadores3.jpg");
  background-size: cover;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--branco);
}

.filme-principal .container .titulo {
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.filme-principal .container .descricao {
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
  width: 50%;
}

.filme-principal .container .botoes {
  margin-left: 10px;
}

.filme-principal .container .botao {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.filme-principal .container .botao:hover {
  background-color: #fff;
  color: #000;
}

.filme-principal .container .botao i {
  margin-right: 8px;
}

/* CARROSSEL DE FILMES */

.carrossel-filmes {
  margin-top: 5px;
}

.carrossel-filmes .box-filme {
  display: block;
  height: 300px;
  width: 220px;
}

/* CARD FILMES E SÉRIES */


.card.card-filme {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
  url("../img/capa-vingadores3.jpg");
  background-size: cover;
  min-height: 500px;
}

.card.card-serie {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
  url("../img/capa-vikings.jpg");
  background-size: cover;
  min-height: 500px;
}

/* RODAPÉ */

footer .rodape {
  background: var(--grafite);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

footer .rodape ul {
  list-style: none;
  color: var(--branco);
}

footer .rodape ul li {
  display: inline;
}

footer .rodape ul li a {
  text-decoration: none;
  color: var(--branco);
}
