:root {
  --cinza: #b4b8bf;
  --grafite: #313640;
  --branco: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--branco);
  font-family: "Arial", Times, serif;
  color: var(--grafite);
}

body .container-geral {
  min-height: 100vh;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  background-color: var(--grafite);
}

/* BARRA DE NAVEGAÇÃO RESPONSIVA */
.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.topnav .links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.topnav h2 {
  color: var(--branco);
  font-family: "Arial Black", Times;
  font-size: 30px;
  margin: 5px;
}

.topnav a {
  border: 3px solid var(--grafite);
  border-radius: 5px;
  display: block;
  color: var(--branco);
  opacity: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.topnav a:hover {
  border: 3px solid var(--cinza);
  opacity: 0.8;
}
.topnav a.selected {
  border-bottom: 3px solid var(--cinza);
}

.topnav .icon {
  display: none;
}

/* CARD CONTEÚDO */

.card {
  background: var(--grafite);
  color: var(--branco);
  margin-top: 5px;
  border-color: var(--grafite);
  border-width: 1px;
  border-style: solid;
}

.card .card-video {
  height: 500px;
}

.card .card-descricao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 330px;
}

.card .card-capa img {
  width: 220px;
  height: 330px;
  display: block;
}

.card .card-sinopse {
  width: 100%;
  padding: 15px;
}

.card .card-sinopse .titulo {
  padding-bottom: 15px;
}

.card .card-sinopse .sinopse {
  text-indent: 15px;
  text-align: justify;
}

/* CARROSSEL DE FILMES */

.carrossel {
  margin-top: 5px;
}

.carrossel .box-filme {
  display: block;
  height: 300px;
  width: 220px;
}

/* CARD FILMES E SÉRIES */

.card.card-filme {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa-vingadores3.jpg");
  background-size: cover;
  min-height: 500px;
}

.card.card-serie {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
    url("../img/capa-vikings.jpg");
  background-size: cover;
  min-height: 500px;
}

/* RODAPÉ */

footer .rodape {
  background: var(--grafite);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

footer .rodape ul {
  list-style: none;
  color: var(--branco);
}

footer .rodape ul li {
  display: inline;
}

footer .rodape ul li a {
  text-decoration: none;
  color: var(--branco);
}

.hide {
  display: none;
}
