/* @media screen and (max-width:700px) {
    header .container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    
    .filme-principal .container {
       
        
      }

    .filme-principal .container .botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filme-principal .container .botao {
        margin-top: 5px;
        width: 300px;
      }

    header .container nav {
        margin-bottom: 5px;
    }
}

@media screen and (max-width:1000px) {
    .filme-principal .container .descricao {
        width: 50%;
      }
}

@media screen and (max-width:700px) {
    .filme-principal .container .descricao {
        width: 70%;
      }
}

@media screen and (max-width:500px) {
    .filme-principal .container .descricao {
        width: 90%;
      }
} */

/* BARRA DE NAVEGAÇÃO RESPONSIVA */

@media screen and (max-width: 700px) {
  .topnav a {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
    font-size: 30px;
  }

  .topnav a.icon:hover {
    background-color: var(--grafite);
    color: var(--branco);
    font-size: 30px;
  }
}

@media screen and (max-width: 700px) {
  .topnav.responsive {
    position: relative;
    flex-direction: column;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--grafite);
    color: var(--branco);
    font-size: 30px;
    padding-left: 10px;
  }
  
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}